/* BACKGROUNDS AND COLORS */
body {
	background-color: #fffeea;
	color: #34495e;
}

.jumbotron {
	background-image: url('../img/ocean.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 512px;
}

.jumbotron .name,
.subheading {
	color: #fff;
}

.nav {
	background-color: transparent;
}

.nav ul li a {
	color: #376a74;
}

.subpage .nav li a {
	color: #fff;
}

.faq .nav li a {
	color: #000;
}

.nav a:hover {
	color: #bc964f;
	-webkit-transition: color 600ms;
}

.skills {
	background-color: #376a74;
	color: #FFF;
}

.subpage {
	background-image: url('../img/piano.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.social > button {
	background-color: transparent;
	border: 0.25rem #fff solid;
	height: 4rem;
	width: 8rem;
}

.social > button > a{
	text-decoration: none;
	color: #fff;
}

footer {
	background-color: #376a74;
	color: #fff;
}

.subpage-nav ul li a {
	color: #fff;
}

.glyphicon:hover {
	color: #fff;
	-webkit-transition: color 1200ms;
}

#headingOne,
#headingTwo,
#headingThree {
	background-color: #bc964f;
	color: #fff;
}

.faq {
	background-image: url('../img/computer.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

/* TYPOGRAPHY */

* {
	font-family: 'PT Sans', 'Roboto', sans-serif;
}

.nav ul li a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.intro p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
}


.skills h3 {
	text-align: center;
	text-transform: uppercase;
}

footer p {
	text-transform: uppercase;
}

.header h1 {
	text-transform: uppercase;
}

/* POSITIONING */

.nav {
	position: fixed;
	width: 100%;
	top: 0; /* To make sure your navigation bar stays in the topmost position (the distance from the top of the viewport should be zero) add a top property with a value of 0: */
	left: 0;
}

.nav ul {
	float: right;
	margin-right: 3em;
}

.nav ul li {
	display: inline-block;
	padding: 20px 10px 20px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

p {
	-webkit-margin-before: 0;
}
#skill_list {
	margin-left: 50px;
}

.main_text {
	clear: both;
	padding-top: 4rem;
}

.header {
	margin-bottom: 40px;
	margin-top: 7.5%;
}

.header h1 {
	text-align: center;
}

.image {
	display: inline-block;
	float: left;
	margin-right: 0.5rem;
}

.column {
	display: inline-block;
	float: left;
	width: 30%;
	position: relative;
	margin: 0 0.75rem;
}

.intro {
	width: 35rem;
}

footer {
	text-align: center;
	margin-top: 2.5%;
	padding: 2.5% 0;
}

.subpage {
	margin-top: 2.5%;
}
.subpage-h1  {
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
	margin-top: 5%;
}

.big-paragraph {
	margin: 2.5% 20% 0 20%;
	text-align: center;
}

.email-address {
	text-transform: uppercase;
	text-align: center;
}

.small-paragraph {
	margin: 2.5% 20% 0 20%;
	text-align: center;
	font-style: italic;
	font-weight: 300;
}

.address {
	margin-top: 2.5%;
}

.address > h1 {
	margin: auto;
	text-align: center;
}

.social {
	text-align: center;
	margin-top: 2.5%;
}

.social > button {
	margin: 0 0.25em;
}


